<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon Réseau Social{% endblock %}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Mon Réseau Social</a></h1>
        <div class="search-bar">
            <form method="get" action="{% url 'search_results' %}">
                {% csrf_token %}
                {{ search_form.query }}
                <button type="submit">🔍</button>
            </form>
        </div>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profil</a></li>
                    <li><a href="{% url 'community_list' %}">Communautés</a></li>
                    <li>
                        <form method="post" action="{% url 'logout' %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="logout-button">Déconnexion</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Connexion</a></li>
                    <li><a href="{% url 'signup' %}">Inscription</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}
        <!-- Contenu spécifique à chaque page -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Mon Réseau Social</p>
    </footer>
</body>
</html>
